<h1>Devise SendGrid App</h1>

<% if user_signed_in? %>
  <p>Signed in as <strong><%= current_user.email %></strong>.</p>
  <p><%= link_to 'Edit account', edit_user_registration_path %></p>
  <p><%= button_to 'Log out', destroy_user_session_path, method: :delete %></p>
<% else %>
  <p>Authentication sample app with Devise confirmation emails.</p>
  <p><%= link_to 'Sign up', new_user_registration_path %></p>
  <p><%= link_to 'Log in', new_user_session_path %></p>
<% end %>
